<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body class="container-fluid">
    {% include "main/header.html" %}
    {% block body %}

    {% endblock %}

    {% include "main/footer.html" %}
</body>
</html>