{% extends "main/base.html" %}
{% load static %}

{% block title %} Index Page Title {% endblock %}

{% block body %}

  <div class="container-fluid">

      <!-- 1й раздел, 1й столбец - картинки главной страницы -->

    <div class="row bg-warning">

        <div class="col-sm-8">
              <!-- Карусель -->
            <div id="demo" class="carousel slide" data-bs-ride="carousel">
              <!-- 3 эемента для прокрутки -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                </div>
               <!-- Эффект слайдшоу / картинки для главной страницы -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'main/Index_page_4.jpg' %}" alt="#" class="rounded d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'main/Index_page_2.jpg' %}" alt="#" class="rounded d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'main/Index_page_3.jpg' %}" alt="#" class="rounded d-block w-100">
                    </div>
                </div>
                <!-- Функция прокрутки картинок -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>

        </div>

        <!-- 1й раздел, 2й столбец - вступительный текст -->

        <div class="col-sm-4 my-auto">
            <p class="text center fw-bold">
                "Тұлпар taxi" надежная служба такси в Алматы и Алматинской Области. Мы оказываем транспортные услуги, которые сделают Вашу поездку еще более комфортной. Все автомобили содержатся в идеальной чистоте, а за рулем сидят опытные, ответственные и внимательные водители. Сообщите о своих предпочтениях в поездке диспетчеру при заказе такси Алматы, и мы учтем все ваши пожелания.
            </p>

        </div>
    </div>

      <!-- 2й раздел - карта города Алматы и Алматинской области -->

    <div class="row bg-warning">

        <div class="col-sm-12">
            <div id="container"></div>
            <script src="https://mapgl.2gis.com/api/js/v1"></script>
            <script>
                const map = new mapgl.Map('container', {
                    center: [76.92925, 43.24165],
                    zoom: 13,
                    key: 'Your API access key',
                });
                const marker = new mapgl.Marker(map, {
                    coordinates: [76.92925, 43.24165],
                });
            </script>
        </div>
    </div>
  </div>




{% endblock %}